@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

.info{
    display: flex;
    flex-direction: column;
}

.form-input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fields{
    display: flex;
    justify-content: space-between;
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.emailField{
    font-family: "Merriweather", sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #797979;
    width: 100%;
    margin-right: 0.5em;
    padding: 0.5em;
}

.emailField:focus{
    outline-style: solid;
    outline-width: 3px;
    outline-color: #d02035;
}

.selectBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0.5em;
    
}

.interests{
    font-family: "Merriweather", sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #797979;
    width: 100%;
    padding: 9px;
}

button{
    width: 100%;
    border-color: #d02035;
    border-radius: 5px;
}

.error{
    font-family: "Merriweather", sans-serif;
    font-size: 12px;
    width: 49%;
    text-align: right;
}

@media (max-width: 600px){
    .fields{
        flex-direction: column;
    }

    .emailField{
        margin:0;
    }

    .selectBox{
        margin: 0;
    }

    .error{
        width: 100%;
    }
}