@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

.email{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-family: "Merriweather", sans-serif;
    font-size: 16px;
    color: #797979;
}

.interests{
    font-family: "Merriweather", sans-serif;
    font-size: 16px;
    color: #797979;
}


.info{
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.form-input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fields{
    display: flex;
}

select{
    width: 50vw;
    margin-left: 0.5em;
    height: 5vh;
}

input{
    width: 50vw;
    margin-right: 0.5em;
    height: 5vh;
}

button{
    width: 100%;
}

.error{
    font-family: "Merriweather", sans-serif;
    font-size: 12px;
    width: 50%;
    text-align: right;
    margin-right: 0.5em;
}