@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@700&display=swap');

.App {
  background-color: #282828;
  color: white;
  padding: 200px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
} 

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
}

p{
  font-family: 'Merriweather', sans-serif;
  font-size: 20px;
}

hr{
  width: 30%;
  min-width: 200px;
  height: 10px;
  background-color: #d02035;
  border-color: #d02035;
}

@media (max-width: 800px){
  .App{
    padding: 10px;
  }
}
